@media screen and (max-width: 400px) {
    .orderBtn {
        top: 88px;
        left: 50%;
    }
    .employBtn {
        left: 50%;
        top: 160px;
    }
    .automatic-order {
        width: 100%;
        transform: translate(-50%, 0);
        top: 458px;
        left: 50%;
        font-size: 20px;
    }

    .door {
        width: 50px;
        height: 80px;
        overflow: hidden;
        border-radius: 1ex;
        margin: 20px;
        margin-top: -350px;
        padding-left: 2px;
    }
}

@media screen and (max-width: 375px) {
    .orderBtn {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 95px;
    }
    .employBtn {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 160px;
    }
    .door {
        margin: 18px;
        margin-top: -335px;
        padding-left: 2px;
    }
    .automatic-order {
        width: 100%;
        transform: translate(-50%, -50%);
        top: 440px;
        left: 50%;
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    .orderBtn {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 81px;
    }
    .employBtn {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 140px;
    }
    .door {
        margin: 11px;
        margin-top: -288px;
        padding-left: 2px;
    }
    .automatic-order {
        width: 100%;
        transform: translate(-50%, -50%);
        top: 376px;
        left: 50%;
        font-size: 16px;
    }
}
