*{
    margin: 0;
    padding: 0;
}

html,
body {
  width: 425px;
  height: 100vh;
  margin: 0 auto;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doors {
  display: flex;
}

.door {
  width: 50px;
  height: 80px;
  overflow: hidden;
  border-radius: 1ex;
  margin: 23px;
  margin-top: -371px;
  padding-left: 3px;
}

.boxes {
  /* transform: translateY(0); */
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0.2rem 0 0.2rem;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.automatic-order {
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none;
  text-align: center;
  display: block;
  position: absolute;
  transform: translate(-50%, 0);
  top: 488px;
  left: 50%;
  font-size: 20px;
}

.orderBtn {
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  transform: translate(-50%, 0);
  top: 94px;
  left: 50%;
  font-size: 25px;
}
.employBtn{
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  transform: translate(-50%, 0);
  top: 160px;
  left: 50%;
  font-size: 25px;
}


.Modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 425px;
  border-radius: 20px;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.modal-box{
  display: none;
}
.modal-box.active{
  display: block;
}
.Modal-InText {
  text-align: center;
  font-weight: 300;
  padding-bottom: 20px;
  font-family: Inria Sans;
}
.Modal-InBtn {
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  transition: 0.2s ease-in-out all;
  cursor: pointer;
}
.Btn-Right:hover{
  background:#fff;
  border: 1px solid rgba(14, 255, 110, 0.85);
}
.Btn-Right{
    background: rgba(14, 255, 110, 0.85);
}
